.modal-content {
    background-color: white;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    animation: slideIn .5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(20%);
    }
}