.modal-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    animation: slideIn .5s forwards;
    transform: translateX(50%);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(20%);
    }
}