.menu-line {
    transition: transform 0.5s;
}

.menu-icon.clicked .menu-line:nth-child(1) {
    background: black;
    z-index: 999;
    transform: rotate(-135deg) translate(-6px, -4px);
}

.menu-icon.clicked .menu-line:nth-child(2) {
    background: black;
    z-index: 999;
    transform: rotate(-45deg) translate(2px, -2px);
}