.menu-line {
    transition: transform 0.5s, background 0.5s;
    z-index: 999;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.menu-icon.clicked .menu-line:nth-child(1) {
    transform: rotate(-135deg) translate(-6px, -4px);
    background: black;
}

.menu-icon.clicked .menu-line:nth-child(2) {
    transform: rotate(-45deg) translate(2px, -2px);
    background: black;
}