@media (min-width: 1024px) {
    .sliderImg {
        object-fit: cover;
        width: 100%;
        min-height: 100%;
        height: 100%;
        flex: 1 0 auto;
    }
}

@media (min-width: 768px) {
    .sliderImg {
        object-fit: fill;
        width: 100%;
        flex: 1 0 auto;
    }
}

@media (max-width: 767px) {
    .sliderImg {
        object-fit: fill;
        width: 100%;
        flex: 1 0 auto;
    }
}

.sliderImg {
    width: 100%;
    flex: 1 0 auto;
    aspect-ratio: 1 / 1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: auto;
    padding-top: 10px;
    box-sizing: border-box;
}